/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-image: url('../../images/background1.jpg');*/
  }

main {
  	flex: 1 0 auto;
  }


.login-card {
	align-items: center;
	justify-content: center;
	align-content: center;
}

.brandlogo {
	#justify-content: flex-end;
	#align-content: flex-end;
}



.input-field label {
    color: black;
   }

.input-field input[type=text]:focus + label {
	color: black;
  }

.input-field input[type=text]:focus {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
  }
      

#footer{
  text-align: center; important: !;
 }